
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(248, 10%, 55%);
    color: #222;
}

.main-div {
    max-width: 400px;
    margin: 0 auto;

    margin-top: 2rem;
}





.h1heading {
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 1rem;
    font-weight: 800;
}


.label {
    display: block;

    margin-bottom: 0.2rem;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.205);
    color: hsl(248, 10%, 30%);
}
.location-input {
    width: 100%;
}

.img {
    width: 100%;
    display: block;
}

.form {
    padding: 10px 0;
    margin-bottom: 1rem;
}
.location-input {
    height: 2rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
    background-color: hsl(248, 10%, 65%);
    padding-left: 1rem;
    font-size: 1rem;
}
::placeholder {
    font-size: 0.8rem;
    color: hsl(248, 10%, 35%);
    /* text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.13); */
}
.location-input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px hsl(248, 10%, 35%);
}


/*/////////////////////////////////////////
        card
////////////////////////////////////////*/

.cardinfos {
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
    background-color: rgb(252, 252, 252);
}
.weatherinfo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.6rem;
    color: rgb(189, 124, 5);
    margin-top: 0.6rem;
}
.h2heading {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
    text-shadow: 0px 1px 2px rgb(189, 124, 5);
}
.temperature {
    text-align: center;
    font-size: 2.4rem;
    color: rgb(228, 151, 9);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.671);

}
.titleandweatherdiv {
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 1.6rem;
}

.img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}